spec/xml/rdx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://asrg.io/ns/rdx"
           xmlns:rdx="https://asrg.io/ns/rdx"
           elementFormDefault="qualified" attributeFormDefault="unqualified"
           version="0.1.0">
  <!--
    RDX XML Schema. The JSON Schema (spec/json/rdx.schema.json) is the normative
    reference; this XSD is kept at parity with it. Because the XML root element is
    <rdx:riskSet>, document-level metadata that the JSON carries as siblings of
    riskSet (created, createdBy, sources, bomRefRef) is represented here as
    attributes / a leading <sources> element on riskSet.
  -->
  <xs:element name="riskSet" type="rdx:riskSetType"/>
  <xs:complexType name="riskSetType">
    <xs:sequence>
      <xs:element name="sources" type="rdx:stringList" minOccurs="0"/>
      <xs:element name="itemDefinition" type="rdx:itemDefinitionType"/>
      <xs:element name="assets" type="rdx:assetsType" minOccurs="0"/>
      <xs:element name="damageScenarios" type="rdx:damageScenariosType" minOccurs="0"/>
      <xs:element name="threatScenarios" type="rdx:threatScenariosType" minOccurs="0"/>
      <xs:element name="attackSteps" type="rdx:attackStepsType" minOccurs="0"/>
      <xs:element name="attackPaths" type="rdx:attackPathsType" minOccurs="0"/>
      <xs:element name="methods" type="rdx:methodsType" minOccurs="0"/>
      <xs:element name="attackFeasibilityRatings" type="rdx:afrsType" minOccurs="0"/>
      <xs:element name="impactRatings" type="rdx:irsType" minOccurs="0"/>
      <xs:element name="riskValues" type="rdx:riskValuesType" minOccurs="0"/>
      <xs:element name="controls" type="rdx:controlsType" minOccurs="0"/>
      <xs:element name="riskTreatmentDecisions" type="rdx:rtdsType" minOccurs="0"/>
      <xs:element name="calAssuranceLevels" type="rdx:calAssuranceLevelsType" minOccurs="0"/>
      <xs:element name="calAssessments" type="rdx:calAssessmentsType" minOccurs="0"/>
      <xs:element name="tafAssessments" type="rdx:tafAssessmentsType" minOccurs="0"/>
      <xs:element name="relationships" type="rdx:relationshipsType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="schemaVersion" type="xs:string" use="required"/>
    <xs:attribute name="documentId" type="xs:string" use="optional"/>
    <xs:attribute name="created" type="xs:dateTime" use="optional"/>
    <xs:attribute name="createdBy" type="xs:string" use="optional"/>
    <xs:attribute name="bomRefRef" type="xs:string" use="optional"/>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="itemDefinitionType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="boundary" type="xs:string" minOccurs="0"/>
      <xs:element name="functions" type="rdx:stringList" minOccurs="0"/>
      <xs:element name="architecture" type="rdx:architectureType" minOccurs="0"/>
      <xs:element name="interfaces" type="rdx:stringList" minOccurs="0"/>
      <xs:element name="environment" type="xs:string" minOccurs="0"/>
      <xs:element name="assumptions" type="rdx:stringList" minOccurs="0"/>
      <xs:element name="countryOfOrigin" type="rdx:countryCodeType" minOccurs="0"/>
      <xs:element name="hashes" type="rdx:hashesType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="assetsType">
    <xs:sequence>
      <xs:element name="asset" type="rdx:assetType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="assetType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="properties" type="rdx:ciaList" minOccurs="0"/>
      <xs:element name="linkedDamageScenarioIds" type="rdx:stringList" minOccurs="0"/>
      <xs:element name="externalIds" type="rdx:stringList" minOccurs="0"/>
      <xs:element name="hashes" type="rdx:hashesType" minOccurs="0"/>
      <xs:element name="componentIds" type="rdx:stringList" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="damageScenariosType">
    <xs:sequence>
      <xs:element name="damageScenario" type="rdx:damageScenarioType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="damageScenarioType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="impactedFunctions" type="rdx:stringList" minOccurs="0"/>
      <xs:element name="affectedRoadUsers" type="rdx:stringList" minOccurs="0"/>
      <xs:element name="references" type="rdx:stringList" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="threatScenariosType">
    <xs:sequence>
      <xs:element name="threatScenario" type="rdx:threatScenarioType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="threatScenarioType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="targetedAssetIds" type="rdx:stringList"/>
      <xs:element name="compromisedProperties" type="rdx:ciaList" minOccurs="0"/>
      <xs:element name="cause" type="xs:string" minOccurs="0"/>
      <xs:element name="references" type="rdx:stringList" minOccurs="0"/>
      <xs:element name="componentIds" type="rdx:stringList" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="attackStepsType">
    <xs:sequence>
      <xs:element name="attackStep" type="rdx:attackStepType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attackStepType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="attackFeasibilityRatingIds" type="rdx:stringList" minOccurs="0"/>
      <xs:element name="controlIds" type="rdx:stringList" minOccurs="0"/>
      <xs:element name="references" type="rdx:stringList" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="attackPathsType">
    <xs:sequence>
      <xs:element name="attackPath" type="rdx:attackPathType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attackPathType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="threatScenarioId" type="xs:string"/>
      <xs:element name="stepIds" type="rdx:stringList" minOccurs="0"/>
      <!-- steps is deprecated in favour of stepIds; retained for compatibility -->
      <xs:element name="steps" type="rdx:stringList" minOccurs="0"/>
      <xs:element name="references" type="rdx:stringList" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="methodsType">
    <xs:sequence>
      <xs:element name="method" type="rdx:methodType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="methodType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="version" type="xs:string"/>
      <xs:element name="factors" type="rdx:stringList" minOccurs="0"/>
      <xs:element name="riskLevels" type="rdx:riskLevelsType" minOccurs="0"/>
      <xs:element name="riskThresholdMatrix" type="rdx:riskThresholdMatrixType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="afrsType">
    <xs:sequence>
      <xs:element name="afr" type="rdx:afrType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="afrType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="attackPathId" type="xs:string" minOccurs="0"/>
      <xs:element name="attackStepId" type="xs:string" minOccurs="0"/>
      <xs:element name="methodId" type="xs:string"/>
      <xs:element name="inputFactors" type="rdx:keyValuePairsType" minOccurs="0"/>
      <xs:element name="score" type="xs:string"/>
      <xs:element name="band" type="xs:string" minOccurs="0"/>
      <xs:element name="rationale" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="irsType">
    <xs:sequence>
      <xs:element name="ir" type="rdx:irType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="irType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="damageScenarioId" type="xs:string"/>
      <xs:element name="methodId" type="xs:string"/>
      <xs:element name="categories" type="rdx:keyValuePairsType" minOccurs="0"/>
      <xs:element name="score" type="xs:string"/>
      <xs:element name="rationale" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="riskValuesType">
    <xs:sequence>
      <xs:element name="riskValue" type="rdx:riskValueType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="riskValueType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="threatScenarioId" type="xs:string"/>
      <xs:element name="afrRef" type="xs:string"/>
      <xs:element name="impactRef" type="xs:string"/>
      <xs:element name="methodId" type="xs:string"/>
      <xs:element name="score" type="xs:string"/>
      <xs:element name="band" type="xs:string" minOccurs="0"/>
      <xs:element name="rationale" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="controlsType">
    <xs:sequence>
      <xs:element name="control" type="rdx:controlType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="controlType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="catalog" type="xs:string" minOccurs="0"/>
      <xs:element name="controlId" type="xs:string" minOccurs="0"/>
      <xs:element name="implementationStatus" type="xs:string" minOccurs="0"/>
      <xs:element name="requiredCalLevel" type="rdx:calLevelType" minOccurs="0"/>
      <xs:element name="achievedCalLevel" type="rdx:calLevelType" minOccurs="0"/>
      <xs:element name="references" type="rdx:stringList" minOccurs="0"/>
      <xs:element name="hashes" type="rdx:hashesType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="rtdsType">
    <xs:sequence>
      <xs:element name="rtd" type="rdx:rtdType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rtdType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="riskValueId" type="xs:string"/>
      <xs:element name="decision" type="rdx:treatmentType"/>
      <xs:element name="controls" type="rdx:stringList" minOccurs="0"/>
      <xs:element name="justification" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="relationshipsType">
    <xs:sequence>
      <xs:element name="relationship" type="rdx:relationshipType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="relationshipType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="relationshipType" type="rdx:relationshipKindType"/>
      <xs:element name="sourceRef" type="xs:string"/>
      <xs:element name="targetRef" type="xs:string"/>
      <xs:element name="confidence" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="justification" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <!-- CAL and TAF types -->
  <xs:complexType name="calAssuranceLevelsType">
    <xs:sequence>
      <xs:element name="calAssuranceLevel" type="rdx:calAssuranceLevelType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calAssuranceLevelType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="level" type="rdx:calLevelType"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="objectives" type="rdx:stringList"/>
      <xs:element name="assuranceActivities" type="rdx:stringList" minOccurs="0"/>
      <xs:element name="references" type="rdx:stringList" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="calAssessmentsType">
    <xs:sequence>
      <xs:element name="calAssessment" type="rdx:calAssessmentType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calAssessmentType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="controlId" type="xs:string"/>
      <xs:element name="targetCalLevel" type="rdx:calLevelType"/>
      <xs:element name="assessmentResult" type="rdx:calAssessmentResultType"/>
      <xs:element name="achievedCalLevel" type="rdx:calLevelType" minOccurs="0"/>
      <xs:element name="evidenceRef" type="xs:string" minOccurs="0"/>
      <xs:element name="assessmentDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="assessor" type="xs:string" minOccurs="0"/>
      <xs:element name="rationale" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="tafAssessmentsType">
    <xs:sequence>
      <xs:element name="tafAssessment" type="rdx:tafAssessmentType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tafAssessmentType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="attackPathId" type="xs:string"/>
      <xs:element name="methodId" type="xs:string"/>
      <xs:element name="targetContext" type="rdx:targetContextType" minOccurs="0"/>
      <xs:element name="tafScore" type="xs:string"/>
      <xs:element name="tafBand" type="rdx:tafBandType" minOccurs="0"/>
      <xs:element name="factorRatings" type="rdx:keyValuePairsType" minOccurs="0"/>
      <xs:element name="rationale" type="xs:string" minOccurs="0"/>
      <xs:element name="assessmentDate" type="xs:dateTime" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="targetContextType">
    <xs:sequence>
      <xs:element name="attackerProfile" type="rdx:attackerProfileType" minOccurs="0"/>
      <xs:element name="attackMotivation" type="rdx:attackMotivationType" minOccurs="0"/>
      <xs:element name="targetValue" type="rdx:targetValueType" minOccurs="0"/>
      <xs:element name="accessRequirement" type="rdx:accessRequirementType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <!-- Simple types for CAL and TAF -->
  <xs:simpleType name="calLevelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CAL1"/>
      <xs:enumeration value="CAL2"/>
      <xs:enumeration value="CAL3"/>
      <xs:enumeration value="CAL4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="calAssessmentResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="sufficient"/>
      <xs:enumeration value="insufficient"/>
      <xs:enumeration value="pending"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tafBandType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="very-high"/>
      <xs:enumeration value="high"/>
      <xs:enumeration value="medium"/>
      <xs:enumeration value="low"/>
      <xs:enumeration value="very-low"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="attackerProfileType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="nation-state"/>
      <xs:enumeration value="organized-crime"/>
      <xs:enumeration value="hacktivist"/>
      <xs:enumeration value="insider"/>
      <xs:enumeration value="opportunist"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="attackMotivationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="financial"/>
      <xs:enumeration value="espionage"/>
      <xs:enumeration value="disruption"/>
      <xs:enumeration value="reputation"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="targetValueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="very-high"/>
      <xs:enumeration value="high"/>
      <xs:enumeration value="medium"/>
      <xs:enumeration value="low"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="accessRequirementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="remote"/>
      <xs:enumeration value="adjacent"/>
      <xs:enumeration value="physical"/>
      <xs:enumeration value="insider"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="relationshipKindType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="causes"/>
      <xs:enumeration value="mitigates"/>
      <xs:enumeration value="implements"/>
      <xs:enumeration value="assesses"/>
      <xs:enumeration value="contains"/>
      <xs:enumeration value="targets"/>
      <xs:enumeration value="threatens"/>
      <xs:enumeration value="protects"/>
      <xs:enumeration value="requires_cal"/>
      <xs:enumeration value="achieves_cal"/>
      <xs:enumeration value="related_to"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="countryCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- Risk treatment vocabulary (shared by riskTreatmentDecisions and riskThresholdMatrix) -->
  <xs:simpleType name="treatmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="reduce"/>
      <xs:enumeration value="avoid"/>
      <xs:enumeration value="accept"/>
      <xs:enumeration value="share"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- Cryptographic hashes -->
  <xs:complexType name="hashesType">
    <xs:sequence>
      <xs:element name="hash" type="rdx:hashType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hashType">
    <xs:sequence>
      <xs:element name="alg" type="rdx:hashAlgType"/>
      <xs:element name="content" type="rdx:hashContentType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:simpleType name="hashAlgType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MD5"/>
      <xs:enumeration value="SHA-1"/>
      <xs:enumeration value="SHA-256"/>
      <xs:enumeration value="SHA-384"/>
      <xs:enumeration value="SHA-512"/>
      <xs:enumeration value="SHA3-256"/>
      <xs:enumeration value="SHA3-384"/>
      <xs:enumeration value="SHA3-512"/>
      <xs:enumeration value="BLAKE2b-256"/>
      <xs:enumeration value="BLAKE2b-384"/>
      <xs:enumeration value="BLAKE2b-512"/>
      <xs:enumeration value="BLAKE3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="hashContentType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]+"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- Configurable per-methodology risk levels -->
  <xs:complexType name="riskLevelsType">
    <xs:sequence>
      <xs:element name="riskLevel" type="rdx:riskLevelType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="riskLevelType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="label" type="xs:string"/>
      <xs:element name="rank" type="xs:positiveInteger"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="color" type="rdx:hexColorType" minOccurs="0"/>
      <xs:element name="scoreRange" type="rdx:numericScoreRangeType" minOccurs="0"/>
      <xs:element name="treatmentGuidance" type="xs:string" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:simpleType name="hexColorType">
    <xs:restriction base="xs:string">
      <xs:pattern value="#[0-9a-fA-F]{6}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="numericScoreRangeType">
    <xs:sequence>
      <xs:element name="min" type="xs:decimal" minOccurs="0"/>
      <xs:element name="max" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Risk threshold matrix -->
  <xs:complexType name="riskThresholdMatrixType">
    <xs:sequence>
      <xs:element name="entry" type="rdx:riskThresholdEntryType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="riskThresholdEntryType">
    <xs:sequence>
      <xs:element name="band" type="xs:string"/>
      <xs:element name="allowedTreatments" type="rdx:allowedTreatmentsType"/>
      <xs:element name="scoreRange" type="rdx:stringScoreRangeType" minOccurs="0"/>
      <xs:element name="escalationRequired" type="xs:boolean" minOccurs="0"/>
      <xs:element name="rationale" type="xs:string" minOccurs="0"/>
      <xs:element name="references" type="rdx:stringList" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="allowedTreatmentsType">
    <xs:sequence>
      <xs:element name="treatment" type="rdx:treatmentType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <!-- riskThresholdMatrix score range allows numeric or string bounds -->
  <xs:complexType name="stringScoreRangeType">
    <xs:sequence>
      <xs:element name="min" type="xs:string" minOccurs="0"/>
      <xs:element name="max" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <!-- Structured system architecture -->
  <xs:complexType name="architectureType" mixed="true">
    <!--
      Mixed content models the JSON `architecture` oneOf: either a plain text
      description (legacy) or a structured representation. Plain text appears as
      the element's character content; the structured form uses the child elements.
    -->
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="components" type="rdx:architectureComponentsType" minOccurs="0"/>
      <xs:element name="dataFlows" type="rdx:dataFlowsType" minOccurs="0"/>
      <xs:element name="diagramUrl" type="xs:anyURI" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:complexType name="architectureComponentsType">
    <xs:sequence>
      <xs:element name="component" type="rdx:architectureComponentType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="architectureComponentType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="type" type="rdx:componentClassType"/>
      <xs:element name="parentId" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="trustBoundary" type="xs:string" minOccurs="0"/>
      <xs:element name="externalIds" type="rdx:stringList" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <xs:simpleType name="componentClassType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ecu"/>
      <xs:enumeration value="sensor"/>
      <xs:enumeration value="actuator"/>
      <xs:enumeration value="gateway"/>
      <xs:enumeration value="network"/>
      <xs:enumeration value="external-system"/>
      <xs:enumeration value="cloud-service"/>
      <xs:enumeration value="mobile-app"/>
      <xs:enumeration value="ota-server"/>
      <xs:enumeration value="diagnostic-tool"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="dataFlowsType">
    <xs:sequence>
      <xs:element name="dataFlow" type="rdx:dataFlowType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataFlowType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="fromComponentId" type="xs:string"/>
      <xs:element name="toComponentId" type="xs:string"/>
      <xs:element name="protocol" type="xs:string" minOccurs="0"/>
      <xs:element name="dataDescription" type="xs:string" minOccurs="0"/>
      <xs:element name="encrypted" type="xs:boolean" minOccurs="0"/>
      <xs:element name="authenticated" type="xs:boolean" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>
  <!-- helpers -->
  <xs:complexType name="ciaList">
    <xs:sequence><xs:element name="property" type="rdx:ciaPropertyType" minOccurs="0" maxOccurs="unbounded"/></xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ciaPropertyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="confidentiality"/>
      <xs:enumeration value="integrity"/>
      <xs:enumeration value="availability"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="stringList">
    <xs:sequence><xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="unbounded"/></xs:sequence>
  </xs:complexType>
  <xs:complexType name="keyValuePairsType">
    <xs:sequence>
      <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="key" type="xs:string"/>
            <xs:element name="value" type="xs:string"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:anyAttribute namespace="##other" processContents="lax"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
